
<div class="row container" style="max-width:1430px">
             <div class="col l2 m1">.</div>
                <div class="col l8 m10 s12" style="max-width:900px;"> 
                    
                    
           <h1 class="intro-quote left" style="color:white;">resume . parse . download</h1> 


            <input type="file" title=" " id="uploaded_file" class="inner-link margin-top-60 col s12 center" data-wipe="upload json format" />


        </div>