<!DOCTYPE html>
<html>
<head>
  <title>ResumeJsonParse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

  <title>Resume Json</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="Resource-type" content="Document">
    
<link rel="apple-touch-icon" sizes="57x57" href="imgs/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="imgs/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="imgs/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="imgs/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="imgs/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="imgs/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="imgs/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="imgs/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="imgs/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="imgs/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon/favicon-16x16.png">
<link rel="manifest" href="imgs/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="imgs/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    
    
    <link rel="stylesheet" type="text/css" href="/assets/inner.css">
    <link rel="stylesheet" type="text/css" href="/assets/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/queries.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,300,700" rel="stylesheet" type="text/css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script type="text/javascript">
    /* ---- particles.js config ---- */
$(document).ready(function() {
    
            
            $('.toggle').on('click', function() {
             menu.toggleClass('active');
            });        
    
                var preload = $('#preloader');
        
            /*
      * Preloader intialization
      */
            
            setTimeout(function(){ 
                $('.overlay').fadeOut(300);
            }, 1200);
    
            
    
            setTimeout(function(){ 
                $('.intro-quote').removeClass('quote-text-active');
            }, 1500);

    
            setTimeout(function(){ 
                $('#particles-js').addClass('particles-js-active');
                $('.logo-body').addClass('logo-body-active').css("background-color", '#ffce00');
            }, 1000);
    
    
            var logo_body = $('.logo-body');
    
                logo_body.click(function() {
              event.preventDefault();
                newLocation = this.href;
                $('body').fadeOut(1000, newpage);
                function newpage() {
                    window.location.href ="/";
                }
                    });  
    
            
            $('.back-orange').click(function() {
              event.preventDefault();
                newLocation = this.href;
                $('body').fadeOut(1000, newpage);
                function newpage() {
                    window.location.href ="/";
                }
                    });        
    
                
        
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 80,
      "density": {
        "enable": true,
        "value_area":1200
      }
    },
    "color": {
      "value": ["#aa73ff", "#f8c210", "#83d238", "#33b1f8"]
    },
    
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#fff"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 1,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 0.5,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 20,
        "size_min": 0.3,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 120,
      "color": "#919191",
      "opacity": 0.4,
      "width": 1
    },
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": false
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 1
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
    
});
    
    </script>
</head>
<body bgcolor="#2A2A2A">
  <div class="overlay" style="display: none;"><div id="preloader"></div></div>
        
        <div id="particles-js" class="particles-js-active"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1440" height="361"></canvas></div>
<%= yield %>

</body>
</html>
